@charset"utf-8";
body{color:#;}
 h1 { color: #ff4411; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px;   text-align: center;}
 h2 { color: #ff4411; font-size: 24px; font-family: 'Signika', sans-serif; padding-bottom: 10px;}
table {
	
    background: #f6f6f6;
    font-size: 14px;
    

}
thead {
    background-color: #f9f9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0,0%,0%,0)), to(hsla(0,0%,0%,.1)));
    background-image: -webkit-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(top, hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.75);
}
thead td {
    border: none;
    color: #444;
}
.posts, .snaps, .acorns, .ranking {
    text-align: center;
}
.name {
    width: 150px;
}
.posts {
    width: 50px;
}
.snaps {
    width: 50px;
}
.acorns {
    width: 50px;
}
.blank {
    width: 50px;
	height:80px;
}
.ranking {
    width: 100px;
}
tr:nth-child(2n) {  
   background: #eee;  
}
td {
    border: 1px solid #ccc;
    color: #777;
    padding: 15px 10px;
}
.admin {
    color: #c4453c;
}
.supporter {
    color: #207cca;
}
.gray {
    color: #777;
}

.tablecontainer{
	
	width:650px;
	background-color:#;
	float:left;
	margin-right:50px;
	margin-left:20px;
	height:450px;
	margin-bottom:50px;
}
.tablecontainer2{
	margin-top:184px;
	width:650px;
	height:402px;
	background-color:#555;
	float:left;
	margin-left:200px;
}


.zui-table2 {
  background: #f6f6f6;
    font-size: 14px;

						
						
}
#wh{color:#fff;}
#clientdiv{
	width:60%;
	float:left;
}
#smallrow {
	width:10%;

}


.ui-datepicker {
    padding: 0.1em 0.1em 0;
    width: 11em;
	
}

.ui-widget {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.ui-datepicker th {
    border: 0 none;
    font-weight: normal;
    padding: 0.2em 0.1em;
    text-align: center;
}

.ui-datepicker th span {
    font-size: 11px;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 0.1em;
}

.ui-datepicker td {
    padding: 1.9px;
}

.ui-datepicker .ui-state-highlight {
    height: 12px;
    margin-bottom: 0;
}

.ui-datepicker td:hover {
background-color:#0080ff;
color:#fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 13px;
}

.ui-datepicker .ui-datepicker-title span {
    font-size: 11px;
}

.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span {
    margin-left: -8px;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
    height: 15px;
    top: 1px;
    width: 15px;
}

.ui-datepicker-next-hover .ui-icon {
    height: 16px;
    width: 16px;
}


.fortypercent{
	width:30%;
	height:350px;
	background-color:444;
	margin-left:30px;
	float:left;
	color:#fff;
}
.twentypercent{
	width:20%;
	height:350px;
	background-color:;
	margin-left:30px;
	float:left;
	color:#fff;
}

#largebutton{height:80px; width:200px; }
#floatleft{
	float:left;
	margin-right:30px;
}

.invoicehold{padding-left:20px; width:90%; background-color:#; float:left; margin-top:50px; margin-bottom:50px;}
 #invoicebl{ color: #000; min-height:200px;  width:100%;}
	 #floatleftclient{float:left;  width:400px; background-color:#333;  color:#fff}
	 
	 .dadholder{height:500px; width:500px; background-color:#000; position:fixed; margin-left:1000px;}
	 
	 .changecol{background-color:#0f0;}
	 .changecol:hover{background-color:#aaFFaa;}
	 #greenrow {background-color:#CCFFCC;}
	 #tblAddRow a {color:#000; background-color:#ccc; padding: 10px;}
	 #nomargin{margin-bottom:-20px;}