@charset"utf-8";
.numpad
{
   padding:146px 140px 124px 130px;
appearance:button;
-moz-appearance:button; /* Firefox */
-webkit-appearance:button; /* Safari and Chrome */
    width:50px; height:50px;
    text-align:center; font-size:26px;
    float:left
}
.numpad span { font-size:32px; color; gray; margin:0px; padding:0}
.numpad br { clear:left}
.numpad input { width:220px; height:30px; font-size:72px }
#submit{height:300px; width: 800px; margin-bottom:-300px;}
#numpadcontainer {
	width:450px;
}

#entry{
	height:100px;
	width:300px;
	
}
#entry input[type=number]::-webkit-outer-spin-button { 
	height: 300px;
	width:800px;
	font-size:70px;
	
}