@charset"utf-8";
 
 body {
    padding: 0px;
   background-color:#474747; 
    font-family:'Verdana', sans-serif;
		font-weight:800;  color: #fff;  font-size: 12px;
    margin:0px;


color:#fff;
}

 body #blk {color:#000;}
textarea {
    width: 300px;
    height: 150px;
	    max-width: 300px;
    max-height: 150px;
}
  pre { display: inline-block; width: auto; }
a:link {color:#fff;}     
a:visited {color:#fff;}  
A{text-decoration:none;color:#fff;}
#refurbme{background-color:#ff0000; color:#fff;}
.example{height:500px; width:400px; background-color:#;  color:#fff; float:left; margin-left:50px;}
.comboboxes{height:300px; width:300px; background-color:#; margin-top:50px; float:left;}
.eav{
	margin:0;
	position:absolute;
	margin-top:400px;
	margin-left:200px;
	height: 125px;
	width:200px;
	border:1px solid;
	padding-top:15px;
	padding:15px;
	border-color:#aadd33;
	background-color:#333;
	
}
#veg{margin-top:300px; margin-left:200px;height:120px; z-index:200000000;}

.ead{
	margin:0;
	position:absolute;
	margin-top:-20px;
	margin-left:600px;
	height: 125px;
	width:200px;
	border:1px solid;
	padding-top:15px;
	padding:15px;
	border-color:#72bcd4;
	background-color:#333;
	
}
.eal{
	margin:0;
	position:absolute;
	margin-top:-20px;
	margin-left:1000px;
	height: 125px;
	width:200px;
	border:1px solid;
	padding-top:15px;
	padding:15px;
	border-color:#FFFF00;
	background-color:#333;

	
}
#loy{margin-top:-118px; margin-left:140px;height:120px; z-index:-1000;}
#don{margin-top:-270px; margin-left:140px;height:120px; z-index:200000000;}

.login{
	width:500px;
	height:250px;
text-align:center;
	margin:0 auto;
	border-color: #;
	background-color: #;
	margin-top:15%;

	color:#ffffff;
}


.top{
	background-color:#00964e;
	height: 1050px;
	width: 160px;
padding-top:10px;
	float:left;
	margin-left:10px;
	text-align:center;
	position: relative
	

}

.submit{ background-color:#00964e; border:none; padding:3.5px 0 5px 0; font-weight:800; width:142.5px; color: #fff;  font-size: 12px;}
.submit:hover{background-color:#00b05c;transition: all 0.1s ease-in-out;}

.logout{ background-color:#474747; border:none; padding:3.5px 0 5px 0; font-weight:800; width:142.5px; color: #fff;  font-size: 12px;}
.logout:hover{background-color:#4e5057;transition: all 0.1s ease-in-out;}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-color: #00964e;
	border-bottom: 50px solid #474747;;
	position: absolute; 
	bottom: 0;

}

nav ul {
    list-style: none;
margin-left: -31px;
margin-top:50px;
}
nav ul li {

}
nav ul li:hover a {
    color:#3498db;  
}
nav ul li a {

    background-color:#474747;
float:left;
padding:3.5px 0 5px 0;
width:142.5px;
margin-top: 1px;

}
.isearch1{background-color:#; height:400px; width:1658px;float:left; margin-top:0px; margin-bottom:30px;}
.isearch2{background-color:#; height:400px; width:1658px;float:left; margin-top:0px; margin-bottom:30px; position:absolute;}
.searchbar{position:relative;margin-left:1425px; margin-top:400px; border:1px solid; height:150px; width:300px;border-right:none; border-color:#00b05c;}
.searchbar2{position:fixed;margin-left:1050px; margin-top:400px; border:1px solid; height:150px; width:300px;border-right:none; border-color:#00b05c;}
.main{padding-left:20px;height:1020px; width:1700px; background-color:#e; float:left; }
.mainresc{padding-left:20px;height:880px; width:993px; background-color:#; float:left; }
.mainp{padding-left:20px;height:1020px; width:1700px; background-color:#; float:left; }
.mainsearch{ padding-left:20px;height:1020px; width:1658px; background-color:#;  position:fixed;}
.db{padding-left:20px;height:1020px; width:1700px; background-color:#; float:left; margin-top:50px;}
.db2{padding-left:20px;height:800px; width:1200px; background-color:#fff; float:left; margin-top:50px;}
.db5{height:600px; float:left; background-color:#000;}
.snap{margin-top:-15px;}
.itemtop{height:400px; width:1070px; background-color:#; float:left;}
.hometop{height:250px;width:1700px; background-color:#;  }
#abs{position:fixed; margin-top:1000px;}
.prod{position:relative; margin-top:200px; font-weight:2000;  color: #fff;  font-size: 200px; margin-left:580px;}
.prod table td{font-weight:2000;  color: #fff;  font-size: 25px; height:200px; text-align:center; border-color:#000; background-color: #320B71;}
#mid{margin-top:10px; margin-bottom:-10px;}
#tbltop{
  table-layout:fixed;
  width: 600px;
    word-wrap:break-word;
}
#tblsm{
  table-layout:fixed;
  width: 360px;
  height: 750px;
    word-wrap:break-word;
}
#tblsm td,th
{
width:120px; border:none;
}

#tbltop2 td,th
{
width:20%;
}
#soldimg{height:200px; position:fixed; margin-left:1020px; margin-top:-300px;}
.price{height:200px;width:200px; background-color:#; float:left; margin-left:40px;}
.priceplace{height:200px;width:200px; background-color:#; float:left; margin-left:40px;}
.scrapplace{height:100px;width:200px; background-color:#; float:left; margin-left:-200px; margin-top:120px;}
.depositplace{height:100px;width:200px; background-color:#; float:left; margin-left:900px; margin-top:770px;position:absolute;}
.reuseplace{height:100px;width:200px; background-color:#; float:left; margin-left:1313px; margin-top:385px;position:absolute;}
.deposittbl{height:100px;width:200px; background-color:#; float:left; margin-left:1200px; margin-top:650px;position:absolute;}
.removedepositform{margin-left:60px;}
#tbltop2 td,th #test
{
width:100%;
}
#pad{border:10px solid;}
 .combox{
	 
	 background-color: #eee;
	 height:200px;
	 width:300px;
	 border: 1px solid;
	 border-color: #000;
	 float:left;
	 margin-right:100px;
	 
 }
 .notes{ height:400px; width:500px; background-color:#; float:left;}
 .donator1{height:250px; width:800px; background-color:#; float:left;}
 #bl{ color: #000; height:200px;  max-height:200px; max-width:300px; width:300px;}
 #bl2{ color: #000; height:100px;  max-height:100px; max-width:260px; width:260px;}
 .fl2{float:left; margin-left:120px;background-color:#333; padding-right:5px; margin-top:30px;}
.fl{float:left; }
 .fl2 table {border:1px dashed; border-color:#32AB71;}
 .fl3{float:left;  height:500px; width:400px; background-color:#; }
 #testprint{margin-left:120px; margin-bottom:40px;}
 .savedcust{
	 
	 height:200px;
	 width:800px;
	 background-color:#;
	 margin-top:20px;
 }
 .eg2{height:300px; width:200px; z-index:-1; background-color:#00ff00; float:left; }
 .forms{width:400px; height:600px; background-color:#; margin:0 auto;}
 #srcimg {
	 height:250px;
	 padding-left:50px;
	 margin-top:15px;
 }
 #minimg{ height:50px;}
 #avgimg{ height:250px; margin-left:-120px; border:2px solid;border-color:#000;}
 #head{text-align:center; text-decoration:underline;}
  #barimg {


 }
 #red{border-color: #ff0000;}
#t1 td{width: 100%;}
.pat-refurb{height:250px; width:600px; background-color:#; float:left;}
.bar{
	
	width:340.157480315px;
height:109.606299213px;
	background-color:#fff;
	
}
.choices{background-color:#;height:150px; width:250px;}
#dbl1{margin-top:0px; margin-bottom:-15px;}
#print{ color:#ee00ee;}
#lookup_field1{float:left;margin-left:220px; margin-right:0;margin-top:500px; position:absolute;background-color:#;width:350px; height:100px;z-index:1;}
#lookup_field2{float:left;margin-left:30px; margin-right:0;margin-top:-165px; position:absolute;background-color:#;width:350px; height:100px;z-index:1;}
#lookup_field3{float:left;margin-left:220px; margin-right:0;margin-top:592px; position:absolute;background-color:#;width:350px; height:100px;z-index:1;}
#lookup_field4{float:left;margin-left:220px; margin-right:0;margin-top:632px; position:absolute;background-color:#;width:350px; height:100px;z-index:1;}



#lookup1{position:absolute;margin-left:285px; margin-top:541px; z-index:10000; }
#lookup2{position:absolute;margin-left:220px; margin-top:650px; }


#right{float:right; margin-right:0px; margin-top:20px;}
#notreadonly{position:absolute; margin-left:400px; height:50px; width:200px; margin-top:50px;}
#popup{
    position: fixed;
    background: rgba(0,0,0,.8);
    display: none;
    height: 200px;
    border: 1px so
    top: 20px;
    left: 50px;
    width: 300px;lid #000;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
} 
#dropcolct.hover{
	
	margin-top:-200px;
}
#tester67 { display: none; }

#nooverflow{}
.viewsub{z-index:6000; height:955px; width:1034px; border-color:#fff; position:fixed; margin-top:-600px; background-color:#fff; 
}
.viewsub1{z-index:6000; height:955px; width:1034px; border-color:#fff; position:fixed;margin-left:200px;  background-color:#fff; 
}
#closed{float:right;}
.furb-cont{height:100px; width:140px; background-color:#;}
.print_this{
    display: none;
}
#below{margin-left:60px; width:350px;}
@media print {
    .print_this {
        display: block;

    }
    .screen_only {
        display: none;
    }
}
#mnlsr{margin-left:110px; margin-top:-30px;}


#error {
    color: red;
    border: 1px solid red;
    padding: 5px;
    display: none;
	width:400px;
	height:200px;
	background-color:#333;
	position:absolute;

}

.error1{
		margin-top:660px;
}
#result {
    padding: 20px;
}

.loading{
	
	position:fixed;
	margin-left:1650px;
	z-index:50000;
}

.circle {
    background-color: rgba(0,0,0,0);
    border: 5px solid #fff;
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #fff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid #fff;
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #fff;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #fff;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #fff;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}






/* Just some plain styling (not important!) */
form {
    margin-bottom: 20px;
}
fieldset {
    margin-bottom: 20px;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
}
select {
    padding: 0;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}
textarea {
    min-height: 60px;
}
label, legend {
    display: block;
    font-weight: bold;
    font-size: 13px;
}
select {
    width: 220px;
}
input[type="checkbox"] {
    display: inline;
}
label span, legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
}
#scrap{width:97px; margin-right:-10px;}
.basketnext{float:left; width:200px; background-color:#;}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background: #eee;
    /* Old browsers */
    background: #eee -moz-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    /* FF3.6+ */
    background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(0, 0, 0, .2)));
    /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    /* IE10+ */
    background: #eee linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    color: #222;
    background: #ddd;
    /* Old browsers */
    background: #ddd -moz-linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(0, 0, 0, .3) 100%);
    /* FF3.6+ */
    background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .3)), color-stop(100%, rgba(0, 0, 0, .3)));
    /* Chrome,Safari4+ */
    background: #ddd -webkit-linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(0, 0, 0, .3) 100%);
    /* Chrome10+,Safari5.1+ */
    background: #ddd -o-linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(0, 0, 0, .3) 100%);
    /* Opera11.10+ */
    background: #ddd -ms-linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(0, 0, 0, .3) 100%);
    /* IE10+ */
    background: #ddd linear-gradient(top, rgba(255, 255, 255, .3) 0%, rgba(0, 0, 0, .3) 100%);
    /* W3C */
    border: 1px solid #888;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    border: 1px solid #666;
    background: #ccc;
    /* Old browsers */
    background: #ccc -moz-linear-gradient(top, rgba(255, 255, 255, .35) 0%, rgba(10, 10, 10, .4) 100%);
    /* FF3.6+ */
    background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .35)), color-stop(100%, rgba(10, 10, 10, .4)));
    /* Chrome,Safari4+ */
    background: #ccc -webkit-linear-gradient(top, rgba(255, 255, 255, .35) 0%, rgba(10, 10, 10, .4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: #ccc -o-linear-gradient(top, rgba(255, 255, 255, .35) 0%, rgba(10, 10, 10, .4) 100%);
    /* Opera11.10+ */
    background: #ccc -ms-linear-gradient(top, rgba(255, 255, 255, .35) 0%, rgba(10, 10, 10, .4) 100%);
    /* IE10+ */
    background: #ccc linear-gradient(top, rgba(255, 255, 255, .35) 0%, rgba(10, 10, 10, .4) 100%);
    /* W3C */
}
.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.left24{
	
	float:left; height:600px;
 width:300px; background-color:#; margin-left:20px;}

.form-style-4{
    width: 800px;
	height:600px;
    font-size: 16px;


    padding: 30px 30px 15px 30px;

}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
.form-style-4 label #collecting
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #000;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background-color: #efe;
    outline: none;
	color:#000;
    border: 1px dashed #000;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:130px;
}


.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}
#addlookup input[type=text] 
{
	 font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
	height:30px;
	
}

 #addlookup input[type=text]:focus
{
    border-bottom: 1px dashed #D9FFA9;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
#wd1{width:100px;margin-left:150px; margin-top:45px;}
#wd2{width:150px;margin-left:150px;}
#dl1{width:50px;margin-left:150px; margin-top:45px;}
#reftot{margin-left:150px;  }
#iframe{margin-left:-100px;}
#ab21{position:fixed; margin-left:200px; margin-top:-30px;}

#first-choice option:nth-child(2) {
    background-color: #e5e5ff;

}
#first-choice option:nth-child(3) {
    background-color: #ffedcc;

}
#first-choice option:nth-child(4) {
    background-color: #ffffe5;
}
#first-choice option:nth-child(5) {
    background-color: #ffffcc;
}
#first-choice option:nth-child(6) {
    background-color: #f2e5f2;
}
#first-choice option:nth-child(7) {
    background-color: #e5f2e5;
}
#first-choice option:nth-child(8) {
    background-color: #e5e5e5;
}

#first-choice option:nth-child(9) {
    background-color: #ede0d4;
}
#first-choice option:nth-child(10) {
    background-color: #fff;
}
#first-choice option:nth-child(11) {
    background-color: #ffe5e5;
}


.fulldivbar{width:500px;
height:100px; background-color:#; float:right;}
.back  {height:100px; width:100px; background-color:#; margin-left:1500px; position:absolute;}
.back input[type=submit]{height:50px; width:150px; background-color:#32AB71; color: #; font-size:20px;}
.discountbar{position:absolute; margin-left:-450px; margin-top:20px;}
.del{position:absolute; margin-left:-300px; margin-top:20px;}
.vou{position:absolute; margin-left:-630px; margin-top:20px;}
.deliveryholder{ width:805px; background-color:#32AB71; position:absolute; margin-left:850px; margin-top:50px;}
.deliveryholdermain{ width:1700px; background-color:#32AB71; margin-left:180px; height:1020px;}
.deliveryholdermain900{ width:1240px; background-color:#32AB71; margin-left:180px; height:1020px;}
.deliveryholder2{ width:225px; background-color:#32AB71; position:absolute; margin-left:750px; margin-top:50px; margin-right:0px;}
.dayfloat{float:left; border:1px solid;margin-left:10px; margin-bottom:10px; min-height:312px;}
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 10px Arial, sans-serif;
	background-color:#333;

	 table-layout: fixed;
	 margin-top:30px;
	 float:left; margin-left:30px;
}

.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tr #ttr {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
   font-size:13px;
    text-shadow: 1px 1px 1px #fff;
	border-top:20px;
	
}
.zui-table tr #ttrc {
    background-color: #efdddd;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
   font-size:16px;
    text-shadow: 1px 1px 1px #fff;
	border-top:20px;
	
}
.zui-table textarea  {
width:100%;
height:250px;
margin-bottom:0px;
background-color:#666;
font-size:16px;
color:#fff;
}
.zui-table tbody .vannew {
background-color:#0073e6;
width:600px;
}
.zui-table tr #tick{
font-size:16px;
    color: #00ff00;
}
.zui-table tr #cross{
font-size:16px;
    color: #ff0000;
}

.zui-table #vanrow {
   border: solid 1px #DDEEEE;
	height:30px;
    padding: 10px;
font-size:12px;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #00ff00;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody tr:hover {
background-color:#;
}

div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #c00;
}
.hdl1{height:300px; width:800px;border-color:#000;}
.hdl2{height:100px; width:300px;border-color:#000; float:left;}
.hdl3{height:100px; width:230px;border-color:#000; float:left;}
.hdl4{height:800px; width:1300px;border-color:#000;}
.hdl4900{min-height:600px; width:900px;border-color:#000;}
.dholder{height:180px; width:800px; background-color:#333; border-color:#00ee00; position:absolute; border-style: dashed;  text-align: center;}
.dholder1{height:180px; width:800px; background-color:#333; border-color:#00ee00; position:absolute; border-style: dashed;  text-align: center; margin-top:100px;}
.dholder2{height:180px; width:270px; background-color:#333; border-color:#00ee00; position:absolute; border-style: dashed;  text-align: center; margin-top:480px; margin-left:50px;}
.dholder3{height:180px; width:800px; background-color:#333; border-color:#00ee00; position:absolute; border-style: dashed;  text-align: center; margin-top:180px;}
.ddate{height:50px; width:500px; background-color:#; border-color:#333; position:absolute; border-style: dashed; margin-left:150px; font: normal 20px Arial, sans-serif;  text-align: center; padding-top:30px;}
.ddate1{height:50px; width:270px; background-color:#; border-color:#333; position:absolute; border-style: dashed; margin-left:0px; font: normal 20px Arial, sans-serif;  text-align: center; padding-top:30px;}
.er2{margin-top:-250px;}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
	color:#000;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}





#checkbox {
    margin:4px;
   
    float:left;
}

#checkbox label {
    float:left;
    width:170px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
       
}

#checkbox label span {
    text-align:center;
    font-size: 16px;
    padding:5px 0px;
    display:block;
}

#checkbox label input {
    position:absolute;
z-index:-1000;
}

#checkbox input:Hover + span {
    background-color:#006aaa;
    color:#F7F7F7;
}

#checkbox .yellow {
    background-color:#FFCC00;
    color:#333;
	width:150px;
}

#checkbox .blue {
    background-color:#00BFFF;
    color:#333;
	width:150px;
}

#checkbox .pink {
    background-color:#FF99FF;
    color:#333;
}

#checkbox .green {
    background-color:#A3D900;
    color:#333;
}
#checkbox .purple {
    background-color:#B399FF;
    color:#333;
}

.cent{margin-left:100px;
}
.hideall{
	height:100%;
	width:100%;
	    position: fixed;
background-color:#333;
z-index:5000;
opacity: .8;
	
}

.columns22{float:left; width:350px; background-color:#333;}

.columns23{float:left; width:1400px; background-color:#888;}


.stocktext1{
	height:200px;
	width:500px;
	background-color:#474747;
	 padding: 0px;
   background-color:#474747; 
    font-family:'Verdana', sans-serif;
		font-weight:800;  color: #f00;  font-size: 60px;
    margin:0px;
	
}

.stocktext2{
	height:500px;
	width:500px;
	background-color:#474747;
	 padding: 0px;
   background-color:#474747; 
    font-family:'Verdana', sans-serif;
		font-weight:800;  color: #0f0;  font-size: 60px;
    margin:0px;
	
}

.stocktext3{
	height:200px;
	width:500px;
	background-color:#ffa500;
	 padding: 0px;
   background-color:#474747; 
    font-family:'Verdana', sans-serif;
		font-weight:800;  color: #ffa500;  font-size: 60px;
    margin:0px;
	
}


.monthform{
	
	height:150px;
	width:600px;
	background-color:#222;
	padding-top:20px;
	margin:0px auto;
	
	
}
.section1{
	float:left;
	margin-left:30px;
}
.section2{
	float:left;
	margin-left:220px;
}
#longsub{width:160px;}
#year1{
	margin-left:20px;
	float:left;
	width:70px;
}

#month1{
	float:left;
	width:70px;
}
#year2{
	margin-left:20px;
	float:left;
	width:70px;
}

#month2{
	float:left;
	width:70px;
}

.statsplaceholder{
	width:1700px;
	
	background-color:#333;
}

.monthstatbox{

}
.table2excelreuse table {


	}
.table2excelreuse th{
	border-color:#ff00ff;
	background-color:#0077ff;
	color:#eee;
	border-width:100px;
	}
	.table2excelreuse tr{
	border-color:#fff;
	background-color:#fff;
color:#000;
border-color:#ff00ff;
	}
	.table2excelreuse tr:nth-of-type(odd) {
  background: #e4e4e4;
border-color:#ff00ff;
}
	.table2excelreuse td{

background-color:#;
}

#newtr td{
	background-color:#ff4444;
}

.spinner {
  margin: 100px auto;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  
}

.spinner > div {
  background-color: #eeffee;
  height: 100%;
  width: 6px;
  display: inline-block;
  color:#000;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
#wid1{
	width:900px;

	
}

.reschholder{width:400px; height:100px; background-color:000;}

.tempinfo{
	height:200px;
	width:600px;
	border:1px solid;
	border-color:#eee;
	background-color:#a92617;
	position:absolute;
	margin-left:1000px;
	margin-top:100px;
	font-size: 16px;
}

.scanvanary{
	height:100px;
	width:300px;
	margin-left:1105px;
	margin-top:-85px;
	
	
}
.scanvanary900{
	height:100px;
	width:200px;
	margin-left:30px;
	margin-top:50px;
	float:left;
	z-index:1900;
	
	
}
#disuntilcomp{float:left; position:relative; margin-left:30px; height:100px; width:300px; margin-top:50px; background-color:#F6F648; font-size:16px;}
#disuntilcomplete{float:left; position:relative; margin-left:30px; height:100px; width:250px; margin-top:50px; background-color:#F6F648; font-size:16px; z-index:1000;}

.viewfailure{
	height:200px;
	width:400px;
	font-size:16px;
	background-color:#E71C1C;
margin-top:-70px;
	position:fixed;
	margin-left:700px;
}
.viewfailure900{
	height:100px;
	width:300px;
	font-size:12px;
	background-color:#E71C1C;
margin-top:-0px;
	position:fixed;
	margin-left:700px;
}

#right{height:0px; margin:0px; font-size:12px;}
#floatingform{position:relative;}
#bump{margin-left:30px;}
.subhold900{position:absolute; height:600px; width:300px; background-color:#; margin-left:920px;}

.depentry{
	min-height:450px;
	width:500px;
	background-color:#777;
	float:left;
	border:1px solid;
	border-color:#ff0000;
	
}

