 @charset"utf-8";
 #tabbut{height:100px; width:200px;}
 .tabchoice{background-color:#; height:100px; width:200px; float:left; margin-top:160px; margin-left:150px;}
 .tstr1{margin-right:100px;}
 #tdis2 {width:380px; margin-left:190px;}
  #tdis {width:380px; margin-left:20px;}
 .pr12f{position:fixed;margin-left:670px; margin-top:-570px;}
 #abs23{position:fixed;margin-left:-100px; margin-top:-450px;}
  .abs24{position:fixed;margin-left:660px; margin-top:300px;}
 #li23 ul li a {padding-top:30px; padding-bottom:30px; float:left; background-color:#;}
#dm21{margin-left:50px;}
.leftbump{margin-left:100px;}
