@charset"utf-8";
 
 
 @page {
    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm; /* change the margins as you want them to be. */
	
}
body{
	  color: #000;  font-size: 16px;
	width:1000px;
	
	border-color:#000;
}
table{ font-size: 16px;}

.top{
	background-color:#;
	width:500px;
	 font-size: 12px;
	float:left;
	height:150px;
	
	
}
.bot{
	background-color:#;
	width:500px;
	 font-size: 12px;
	float:left;
	height:130px;
	
	
}
.bot2{
	background-color:#;
	width:1000px;
	 font-size: 14px;
	float:left;
	height:40px;
	
	
}
#title{
	 font-size: 26px;
}
#right{
	 float:right;
	 margin-top:30px;
	 margin-right:20px;
}
#right2{
	 float:right;
	 margin-right:80px;
	 
}

.block{
	font-size: 20px;
	width:980px;
	height:25px;
	float:left;
	background-color:#000;
	color:#fff;
	margin-bottom:20px;
	margin-top:20px;
}
.info{
	margin-top:20px;
	width:980px;
}

#dec{
		margin-top:8px;
		margin-left:20px;
		font-size: 16px;
}
#dec2{
		margin-top:65px;
		margin-left:20px;
		font-size: 16px;
}

.exa{
	margin-top:70px;
	width:980px;
	height:456px;
	border: 1px solid;
	
}

.hol{
	width:488px;
	height:30px;
	border: 1px solid;
	float:left;
	
	
	
}

.lft{
	border-right: 1px solid;
	height:25px;
	width:95px;
	float:left;
	padding-left:10px;
	padding-top:5px;
}
.lft2{
	
	height:25px;
	width:px;
	float:left;
		padding-left:10px;
	padding-top:5px;
}

.hol2{
	width:488px;
	height:50px;
	border: 1px solid;
	float:left;
	
	
	
}

.lft3{
	border-right: 1px solid;
	height:45px;
	width:95px;
	float:left;
	padding-left:10px;
	padding-top:5px;
}
.lft22{
	
	height:45px;
	width:px;
	float:left;
		padding-left:10px;
	padding-top:5px;
}

.hol3{
	width:476px;
	height:50px;
	border: 1px solid;
	float:left;
	width:488px;
	
	
}

.contdbl{width: 488px; float:left; }

#px{float:left;}
#bx{margin-left:10px; height:10px; width:10px; border: 1px solid; float:left;}
textarea {
color: #000; height:200px;  max-height:200px; max-width:605px; width:605px;
}
#giftaid{
	-webkit-transform: rotate(-20deg);
	margin-top:-800px;
	font-size: 250px;
	opacity: .2;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	z-index:-1000;
}

#ref
{
	-webkit-transform: rotate(-10deg);
	position:absolute;
	font-size: 70px;
	margin-left:400px;
	opacity: .2;
}
#border{border-style:dotted; padding:10px; width: 955px;}

.address{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 20px;
	float:left;
	height:800px;
	width:880px;
	background-color:#;
	margin-right:20px;
	margin-top:50px;
	padding-left:50px;
	padding-right:50px;
	
}
.tab{
		padding-left:50px;
	padding-right:50px;
}